<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <app-pricing></app-pricing> -->

<!-- <div *ngIf="carouselModa" class="Image-Slider">
  <div class="sliderImage-main">
    <img [src]="carouselImageShow" alt="" />
    <i (click)="carouselSliderModal()" class="bx bx-x"></i>
  </div>
  <div class="imgSlider-div">
    <owl-carousel-o class="ng-carousel" [options]="customOptions">
      <ng-container *ngFor="let img of images">
        <ng-template carouselSlide>
          <img class="loopImages ps-1" [src]="img.src" alt="" (click)="sliderImage(img.src)"/>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div> -->




