<section class="pricingSection">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1>Pricing Plans</h1>
        <p>Select how many posts you want per month. Cancel anytime.</p>
        <p-card class="ngCard">
          <div class="card-main">
            <div class="card-icon">
                <i class='bx bx-check'></i>
              <div class="card-spec">
                <h5>Standard</h5>
                <span>10 posts per month</span>
              </div>
            </div>
            <div class="card-price">
              <h5>$99/<span>mo</span></h5>
            </div>
          </div>
        </p-card>
        <p-card class="ngCard">
          <div class="card-main">
            <div class="card-icon">
                <i class='bx bx-check'></i>
              <div class="card-spec">
                <h5>Standard</h5>
                <span>10 posts per month</span>
              </div>
            </div>
            <div class="card-price">
              <h5>$99/<span>mo</span></h5>
            </div>
          </div>
        </p-card>
        <p-card class="ngCard">
          <div class="card-main">
            <div class="card-icon">
                <i class='bx bx-check'></i>
              <div class="card-spec">
                <h5>Standard</h5>
                <span>10 posts per month</span>
              </div>
            </div>
            <div class="card-price">
              <h5>$99/<span>mo</span></h5>
            </div>
          </div>
        </p-card>
        <span
          >All pricing is in <a>USD</a> and renews automatically unless
          cancelled. If you need more posts or have different needs,
          <a> get in touch.</a></span
        >
      </div>
      <div class="col-5">
        <div class="right-pricingDiv">
          <p-card class="">
            <h5>Included in all plans:</h5>
            <ul>
              <li><i class="bx bx-check-circle"></i>Posts in your branding</li>
              <li><i class="bx bx-check-circle"></i>Captions & hashtags</li>
              <li><i class="bx bx-check-circle"></i>Posted for you</li>
              <li>
                <i class="bx bx-check-circle"></i>1 social channel included
              </li>
              <li>
                <i class="bx bx-check-circle"></i>$10/mo each extra channel
              </li>
              <li><i class="bx bx-check-circle"></i>Analytics & dashboard</li>
            </ul>
            <button>Sign Up Now</button>
          </p-card>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="optional-main">
          <h1>Optional add-ons</h1>
          <h5>Instagram Booster</h5>
          <p-card>
            <div class="optional-card">
              <h6>Instagram Growth</h6>
              <h6>Target growth: <span>100-400 followers per month</span></h6>
              <ul>
                <li><i class='bx bxs-right-arrow-square'></i> Follow & Unfollow Strategy</li>
                <li><i class='bx bxs-right-arrow-square'></i> Follow & Unfollow Strategy</li>
                <li><i class='bx bxs-right-arrow-square'></i> Follow & Unfollow Strategy</li>
              </ul>
              <p>Instagram compliant manual growth by hand, powered by your personal growth assistant. No software/automation used.</p>
              <h6>$99.00/month</h6>
            </div>
          </p-card>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="instaReel-section">
                <h5>Instagram Reels & Tiktok Videos</h5>
                <div class="instaReel-cardMain">
                <p-card>
                    <div class="intsReel-card">
                        <h5>5x Reels/Tiktok Videos</h5>
                        <span>Simple short-form video content</span>
                        <strong>$99/month</strong>
                    </div>
                </p-card>
                <p-card>
                    <div class="intsReel-card">
                        <h5>5x Reels/Tiktok Videos</h5>
                        <span>Simple short-form video content</span>
                        <strong>$99/month</strong>
                    </div>
                </p-card>
                <p-card>
                    <div class="intsReel-card">
                        <h5>5x Reels/Tiktok Videos</h5>
                        <span>Simple short-form video content</span>
                        <strong>$99/month</strong>
                    </div>
                </p-card>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="instaReel-section">
                <h5>Blog Posts & Email Marketing</h5>
                <div class="instaReel-cardMain">
                <p-card>
                    <div class="intsReel-card">
                        <h5>Blog Posts</h5>
                        <span>Fully SEO-optimized blog posts for your website. 500, 1000, 1500, or 2000 words.</span>
                        <strong>$49-$159/month</strong>
                    </div>
                </p-card>
                <p-card>
                    <div class="intsReel-card">
                        <h5>Blog Posts</h5>
                        <span>Fully SEO-optimized blog posts for your website. 500, 1000, 1500, or 2000 words.</span>
                        <strong>$49-$159/month</strong>
                    </div>
                </p-card>
            </div>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- -------------frequently ask question Section------------------------------------------------- -->
<section class="askQuestion-main">
    <div class="container">
      <div class="row">
        <div class="askQuestion-header">
          <h1>Frequently Asked Questions</h1>
          <p>
            If you have any questions that aren't listed below, feel free to
            <span>schedule a demo</span> to speak with someone from our team.
          </p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="panel">
        <p-panel header="Title" [toggleable]="true" [collapsed]="true">
          Content
      </p-panel>
      <p-panel header="Title" [toggleable]="true" [collapsed]="true">
        Content
    </p-panel>
    <p-panel header="Title" [toggleable]="true" [collapsed]="true">
      Content
  </p-panel>
    </div>
        <!-- <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingone">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseone"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseone"
              >
                Accordion Item #1
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseone"
              class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingone"
            >
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the appropriate
                classes that we use to style each element. These classes control
                the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that just
                about any HTML can go within the <code>.accordion-body</code>,
                though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo"
              >
                Accordion Item #2
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo"
            >
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the appropriate
                classes that we use to style each element. These classes control
                the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that just
                about any HTML can go within the <code>.accordion-body</code>,
                though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree"
              >
                Accordion Item #3
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree"
            >
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the appropriate
                classes that we use to style each element. These classes control
                the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that just
                about any HTML can go within the <code>.accordion-body</code>,
                though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- -------------Verified Customer review Section------------------------------------------------- -->
<section class="verified-main">
    <div class="container">
      <div class="row">
        <div class="verified-spec">
          <span>TESTIMONIALS</span>
          <h1>Verified customer reviews</h1>
          <p>
            Feedbird has helped thousands of small businesses with their social
            media management and most likely accounts like your own. Here's what
            some of our clients have to say
          </p>
        </div>
      </div>
      <div class="row">
        <div class="verified-comment">
          <div class="card">
            <div class="card-header">
              <p-avatar
                image="assets\images\avatar.jpg"
                styleClass="mr-2"
                size="xlarge"
                shape="circle"
              ></p-avatar>
              <div class="avatar-name">
                <strong>Kim L.</strong>
                <span>Non-profit organization</span>
              </div>
            </div>
            <div class="card-body">
              Extremely well written and timely posts, incredible monthly rate and
              top notch customer service - an amazing combination. The whole
              program runs like clockwork. Very happy with everything they do for
              us.
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <p-avatar
                image="assets\images\avatar.jpg"
                styleClass="mr-2"
                size="xlarge"
                shape="circle"
              ></p-avatar>
              <div class="avatar-name">
                <strong>Kim L.</strong>
                <span>Non-profit organization</span>
              </div>
            </div>
            <div class="card-body">
              Extremely well written and timely posts, incredible monthly rate and
              top notch customer service - an amazing combination. The whole
              program runs like clockwork. Very happy with everything they do for
              us.
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <p-avatar
                image="assets\images\avatar.jpg"
                styleClass="mr-2"
                size="xlarge"
                shape="circle"
              ></p-avatar>
              <div class="avatar-name">
                <strong>Kim L.</strong>
                <span>Non-profit organization</span>
              </div>
            </div>
            <div class="card-body">
              Extremely well written and timely posts, incredible monthly rate and
              top notch customer service - an amazing combination. The whole
              program runs like clockwork. Very happy with everything they do for
              us.
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <p-avatar
                image="assets\images\avatar.jpg"
                styleClass="mr-2"
                size="xlarge"
                shape="circle"
              ></p-avatar>
              <div class="avatar-name">
                <strong>Kim L.</strong>
                <span>Non-profit organization</span>
              </div>
            </div>
            <div class="card-body">
              Extremely well written and timely posts, incredible monthly rate and
              top notch customer service - an amazing combination. The whole
              program runs like clockwork. Very happy with everything they do for
              us.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="avatar-group">
          <p-avatarGroup styleClass="mb-3">
            <p-avatar
              image="assets\images\avatar.jpg"
              size="large"
              shape="circle"
            ></p-avatar>
            <p-avatar
              image="assets\images\avatar.jpg"
              size="large"
              shape="circle"
            ></p-avatar>
            <p-avatar
              image="assets\images\avatar.jpg"
              size="large"
              shape="circle"
            ></p-avatar>
            <p-avatar
              image="assets\images\avatar.jpg"
              size="large"
              shape="circle"
            ></p-avatar>
            <p-avatar
              image="assets\images\avatar.jpg"
              size="large"
              shape="circle"
            ></p-avatar>
            <!-- <p-avatar
              label="+2"
              shape="circle"
              size="large"
              [style]="{ 'background-color': 'var(--blue)', color: '#ffffff' }"
            ></p-avatar> -->
          </p-avatarGroup>
          <span>What our clients say</span>
        </div>
        <div class="rate">
          <span>Rated Excellent</span>
          <img src="assets\images\rate.svg" alt="" />
        </div>
      </div>
    </div>
  </section>
