<section>
  <div class="container footer">
    <h1>Take your socials to the next level</h1>
    <span
      >Let us take care of your social media posts for a low monthly
      price.</span
    >
    <button>Get started today</button>
    <div class="footer-absolute">
      <i class="bx bx-check-circle">Made by experts</i>
      <i class="bx bx-check-circle">Cancel anytime</i>
    </div>
  </div>
  <div class="container-fluid footer-main">
    <div class="container">
      <div class="row">
        <div class="footer-links">
          <div class="footer-spec">
            <h2>Dmm Web</h2>
            <p>
              Dmm takes care of your social media posts for a flat monthly
              price. Quality content, posted to all your social media channels.
            </p>
          </div>
          <ul>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="footer-second">
        <span>Take your socials to the next level</span>
        <button>Get started today</button>
        </div>
      </div>
      <div class="row">
        <div class="footer-last">
            <div class="footerLeft">
                <button><i class='bx bxs-bolt'></i>ALL SERVICES OPERATIONAL</button>
                <a>© DMM. <span> All rights reserved</span> </a>
            </div>
            <div class="footer-center">
                <span>Terms & Condition</span>
                <span>Privacy Policy</span>
            </div>
            <div class="footer-right">
            <h2>DMM Web</h2>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
